<footer class="w-full text-center border-t border-grey p-4 pin-b bg-gray-800">
    <div class="text-center text-white">
        <p>
            <strong><%bot.user.username%></strong> by <a href="https://github.com/slayerMonkeys">SlayerMonkey</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
