<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('./modules/head', title) %>
</head>

<body>
<header>
    <%-include('./modules/navbar', {user: user, bot: bot}) %>
</header>
<div class="container">

</div>
<%-include('./modules/footer', bot) %>
</body>

</html>
